.App{
  background-color: lightgray;
  height: 100vh;
}


.sidebar {
  background-color: #FBFBFB;
  color: black;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #555;
}

.sidebar li svg {
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;  
}

.fil-fav{
  display: flex;
  justify-content: space-between;

}

.apply-btn{
  background-color: #1A9AD7;
  color: white;
}


